@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --font-sans: 'Inter', system-ui, -apple-system, 'Segoe UI', sans-serif;
    --color-pottypalcherry-300: oklch(0.92 0.2659 21.18);
    --color-pottypalcherry-400: oklch(0.8 0.2659 21.18);
    --color-pottypalcherry-500: oklch(0.7 0.2659 21.18);
}

:root {
    font-family: var(--font-sans);
}

body {
    background-color: var(--color-purple-300);
}

button.navigation-button {
    font-size: 12px;
    font-weight: 700;
}
